/.git
/.idea
/.vscode
/.fleet
/node_modules
/vendor
/public/hot
/public/build
/backups
/tests
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
docker-compose.prod.yml
Makefile
*.md
